* {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 1140px;
  margin: 0px auto;
}
.header {
  background-color: #ffffff;
}
.logo img {
  padding: 15px;
  margin-top: 20px;
}
.item ul li {
  display: inline-block;
  font-size: 15px;
  float: left;
  text-decoration: none;
}
.item ul li a {
  display: inline-block;
  float: left;
  font-size: 15px;
  text-decoration: none;
  color: rgb(100, 92, 92);
  padding: 25px 30px;
  font-size: 20px;
  transition: 0.4s ease-in-out;
}
.item ul li a:hover {
  color: rgb(6, 194, 184);
}
.bar li {
  padding: 25px;
  font-size: 20px;
}

.line {
  background-color: #e4e4e4;
  height: 10px;
}
.contact-details {
  background-color: #ee4a3f;
}
.container-text {
  padding: 20px 20px;
  margin: 20px 20px;
}
.contact-text h1 {
  margin-top: 80px;
  color: white;
  margin-bottom: 70px;
}
.contact-text p {
  margin-top: 40px;
  color: white;
  margin-bottom: 70px;
}
.img2 {
  margin: 150px 200px;
}
.contact-form {
  padding-bottom: 50px;
}
.contact-form p {
  color: white;
}

.form-control {
  background-color: rgb(251 85 85);
  height: 50px;
  width: 85%;
  font-size: 18px;
  color: white;
  border-color: rgba(247, 60, 60, 0.514);
  padding-bottom: 10px;
  margin-top: 10px;
  transition: 0.4s ease-in-out;
}
.submit-btn {
  background-color: transparent;
  border: none;
  margin-top: 70px;
  padding: 11px 27px;
  border-radius: 20px;
  font-family: "Charm", cursive;
  color: #f6f6f6;
  font-size: 25px;
  transition: 0.4s ease-in-out;
}
.submit-btn:hover {
  background-color: white;
  border: rgb(136, 8, 8);
  color: rgba(180, 6, 6, 0.863);
}
footer {
  background-color: #ef4035;
  height: 70px;
}
footer p {
  text-align: center;
  color: white;
  padding-top: 25px;
}
