* {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 1140px;
  margin: 0px auto;
}
header {
  background-image: url(../img/bannerbg.png);
  background-size: cover;
}
.headertop {
  margin-bottom: 100px;
}

.logo img {
  padding: 15px;
  margin-top: 20px;
}
.menu ul li {
  display: inline-block;
  float: left;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.menu ul li a {
  display: inline-block;
  float: left;
  font-size: 15px;
  text-decoration: none;
  color: white;
  padding: 25px 30px;
  font-size: 20px;
  transition: 0.4s ease-in-out;
}
.menu ul li a:hover {
  color: rgb(54, 81, 153);
}
.bar li {
  padding: 25px;
  font-size: 20px;
}

.banner {
  width: 50%;
  margin-bottom: 100px;
}
.banner h1 {
  color: white;
  background-color: #35353491;
  text-align: center;
  padding: 5px;
  margin: 50px;
}
.banner p {
  color: white;
  padding: 10px;
  margin: 45px;
}
.banner-btn {
  background-color: transparent;
  height: 55px;
  width: 40%;
  font-size: 22px;
  color: white;
  margin: 60px 55px;
  border-color: white;
  margin-bottom: 300px;
}
.banner-btn:hover {
  color: red;
}
.welcome {
  width: 100%;
  background-color: #f6f6f6;
  position: relative;
}
.welcome-text {
  padding-top: 150px;
  padding-bottom: 70px;
}
.welcome-text h1 {
  padding: 8px;
  margin-bottom: 45px;
  font-size: 31px;
}
.welcome-text p {
}

.car-img {
  margin-top: 186px;
  position: absolute;
  margin-bottom: -8px;
}
.showcase {
  background-color: #28282e;
  width: 100%;
  position: relative;
}
.showcase-text {
  margin-top: 100px;
}
.showcase-text h1 {
  color: white;
  margin-bottom: 60px;
}
.showcase-text p {
  color: white;
}
.showcase-img {
  margin-top: 100px;
}
.welcome-btn {
  background-color: transparent;
  height: 40px;
  width: 32%;
  font-size: 17px;
  color: white;
  border-color: white;
  margin-bottom: 150px;
  margin-top: 60px;
  transition: 0.4s ease-in-out;
}
.welcome-btn:hover {
  background-color: rgba(57, 57, 185, 0.466);
}
footer {
  background-color: #ef4035;
  height: 70px;
}
footer p {
  text-align: center;
  color: white;
  margin-top: 10px;
  padding-top: 25px;
}

/*media query*/
@media (min-width: 576px) {
  .dropdown-menu-sm-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-sm-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 768px) {
  .dropdown-menu-md-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 992px) {
  .dropdown-menu-lg-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-lg-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 1200px) {
  .dropdown-menu-xl-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-xl-right {
    right: 0;
    left: auto;
  }
}
